

<!-- blog-section end -->
<section class="ttm-row blog-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if Header.exists? %>
        <% @headers.take(1).each do |h|%>
        <!-- section title -->
        <div class="section-title text-center with-desc clearfix">
          <div class="title-header">
            <h5><%= h.blogs_title %></h5>
            <h2 class="title"><%= h.blogs_sub_title %></h2>
          </div>
        </div><!-- section title end -->
        <% end %>
        <% else %>
        <!-- section title -->
        <div class="section-title text-center with-desc clearfix">
          <div class="title-header">
            <h5>Our Blog</h5>
            <h2 class="title">Check Out Our <span>Latest News</span></h2>
          </div>
        </div><!-- section title end -->
        <% end %>


      </div>
    </div>
    <!-- row -->
    <div class="row">
      <!-- blog-slide -->
      <div class="blog-slide owl-carousel owl-theme owl-loaded " data-item="3" data-nav="false" data-dots="false" data-auto="false">
        <!-- featured-imagebox-blog -->
        <% if Blog.exists? %>
        <% @blogs.take(3).each do |b| %>
        <div class="featured-imagebox featured-imagebox-blog">
          <div class="featured-thumbnail"><!-- featured-thumbnail -->
            <%= link_to b do %>
            <%= image_tag b.blogimg_url.to_s, class: "img-fluid" %>
            <% end %>
            <div class="ttm-blog-overlay-iconbox">
              <%= link_to b do %>
              <i class="ti ti-plus"></i><% end %>
            </div>
            <div class="ttm-box-view-overlay"></div>
          </div>
          <div class="featured-content"><!-- featured-content -->
            <div class="ttm-box-post-date"><!-- ttm-box-post-date -->
              <span class="ttm-entry-date">

              </span>
            </div>
            <div class="featured-title"><!-- featured-title -->
              <h5>                <%= link_to b.title, b %>
              </h5>
            </div>
            <div class="post-meta"><!-- post-meta -->
              <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>

            </div>
            <div class="featured-desc"><!-- featured-description -->
              <p>                <%= b.sub_title %>
              </p>                            </div>
              <%= link_to b, class:"ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" do %>


              Read More <i class="ti ti-angle-double-right"></i><% end %>
            </div>
          </div><!-- featured-imagebox-blog end -->

          <% end %>
          <% else %>
          <div class="featured-imagebox featured-imagebox-blog">
            <div class="featured-thumbnail"><!-- featured-thumbnail -->
              <img class="img-fluid lazyload" data-src="<%= asset_path 'blog/05.jpg' %>" alt="">
              <div class="ttm-blog-overlay-iconbox">
                <a href="single-blog.html"><i class="ti ti-plus"></i></a>
              </div>
              <div class="ttm-box-view-overlay"></div>
            </div>
            <div class="featured-content"><!-- featured-content -->
              <div class="ttm-box-post-date"><!-- ttm-box-post-date -->
                <span class="ttm-entry-date">
                  <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">Apr</span></time>
                </span>
              </div>
              <div class="featured-title"><!-- featured-title -->
                <h5><a href="single-blog.html">You Must Try 20 Secret Of Digital Transform</a></h5>
              </div>
              <div class="post-meta"><!-- post-meta -->
                <span class="ttm-meta-line"><i class="fa fa-comments"></i>2,comments</span>
                <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>

              </div>
              <div class="featured-desc"><!-- featured-description -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
              </div>
              <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="#">Read More <i class="ti ti-angle-double-right"></i></a>
            </div>
          </div><!-- featured-imagebox-blog end -->


          <!-- featured-imagebox-blog -->
          <div class="featured-imagebox featured-imagebox-blog">
            <div class="featured-thumbnail"><!-- featured-thumbnail -->
              <img class="img-fluid lazyload" data-src="<%= asset_path 'blog/04.jpg' %>" alt="">
              <div class="ttm-blog-overlay-iconbox">
                <a href="single-blog.html"><i class="ti ti-plus"></i></a>
              </div>
              <div class="ttm-box-view-overlay"></div>
            </div>
            <div class="featured-content"><!-- featured-content -->
              <div class="ttm-box-post-date"><!-- ttm-box-post-date -->
                <span class="ttm-entry-date">
                  <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">12<span class="entry-month entry-year">Dec</span></time>
                </span>
              </div>
              <div class="featured-title"><!-- featured-title -->
                <h5><a href="single-blog.html">Define World Best IT Solution Technology</a></h5>
              </div>
              <div class="post-meta"><!-- post-meta -->
                <span class="ttm-meta-line"><i class="fa fa-comments"></i>3,comments</span>
                <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>

              </div>
              <div class="featured-desc"><!-- featured-description -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
              </div>
              <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="#">Read More <i class="ti ti-angle-double-right"></i></a>
            </div>
          </div><!-- featured-imagebox-blog end -->
          <!-- featured-imagebox-blog -->
          <div class="featured-imagebox featured-imagebox-blog">
            <div class="featured-thumbnail"><!-- featured-thumbnail -->
              <img class="img-fluid lazyload" data-src="<%= asset_path 'blog/06.jpg' %>" alt="">
              <div class="ttm-blog-overlay-iconbox">
                <a href="single-blog.html"><i class="ti ti-plus"></i></a>
              </div>
              <div class="ttm-box-view-overlay"></div>
            </div>
            <div class="featured-content"><!-- featured-content -->
              <div class="ttm-box-post-date"><!-- ttm-box-post-date -->
                <span class="ttm-entry-date">
                  <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">22<span class="entry-month entry-year">May</span></time>
                </span>
              </div>
              <div class="featured-title"><!-- featured-title -->
                <h5><a href="single-blog.html">10 PHP Frameworks You Need To Use Anywhere</a></h5>
              </div>
              <div class="post-meta"><!-- post-meta -->
                <span class="ttm-meta-line"><i class="fa fa-comments"></i>1,comments</span>
                <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>

              </div>
              <div class="featured-desc"><!-- featured-description -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
              </div>
              <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="#">Read More <i class="ti ti-angle-double-right"></i></a>
            </div>
          </div><!-- featured-imagebox-blog end -->
          <!-- featured-imagebox-blog -->
          <div class="featured-imagebox featured-imagebox-blog">
            <div class="featured-thumbnail"><!-- featured-thumbnail -->
              <img class="img-fluid lazyload" data-src="<%= asset_path 'blog/07.jpg' %>" alt="">
              <div class="ttm-blog-overlay-iconbox">
                <a href="single-blog.html"><i class="ti ti-plus"></i></a>
              </div>
              <div class="ttm-box-view-overlay"></div>
            </div>
            <div class="featured-content"><!-- featured-content -->
              <div class="ttm-box-post-date"><!-- ttm-box-post-date -->
                <span class="ttm-entry-date">
                  <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">04<span class="entry-month entry-year">Aug</span></time>
                </span>
              </div>
              <div class="featured-title"><!-- featured-title -->
                <h5><a href="single-blog.html">Digital Conference Of IT Tech Events in 2019</a></h5>
              </div>
              <div class="post-meta"><!-- post-meta -->
                <span class="ttm-meta-line"><i class="fa fa-comments"></i>4,comments</span>
                <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>

              </div>
              <div class="featured-desc"><!-- featured-description -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
              </div>
              <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="#">Read More <i class="ti ti-angle-double-right"></i></a>
            </div>
          </div><!-- featured-imagebox-blog end -->

          <% end %>
        </div>
      </div><!-- row end -->
    </div>
  </section>
  <!-- process-section end -->
