






<tr>
  <td data-bgcolor="bg-block" class="holder" style="padding:58px 60px 52px;" bgcolor="#f9f9f9">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#0000;" class="title" align="center" style="font:35px/38px Arial, Helvetica, sans-serif; color:#000; padding:0 0 24px;">
        Loan Onboarding
        </td>
      </tr>


      <tr>
        <td style="padding:0 0 20px;">
          <table width="134" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
            <tbody><tr>

            </tr>


            <tr>
         <td class="x_79997689email-body" width="100%" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
             <table class="x_79997689email-body_inner" align="center" width="600" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 600px; background-color: rgb(255, 255, 255)">
                 <tbody>
                     <tr>

                     </tr>
                     <tr>
                         <td class="x_79997689welcome" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255); padding: 50px 50px 20px">
                             <p class="x_79997689welcome_greeting" style="line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                 <span class="colour" style="color:rgb(64, 64, 64)">
                                     <b>
                                         <span class="font" style="font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
                                             <span class="size" style="font-size: 21px; line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
  Welcome <%= @loan.user.first_name %> <%= @loan.user.last_name %>
																						 </span>
                                         </span>
                                     </b>
                                 </span>
                                 <br>
                             </p>
                             <p style="line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                 <span class="colour" style="color:rgb(64, 64, 64)">
                                     <span class="font" style="font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
                                         <span class="size" style="font-size: 14px; line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                        Your account registrations are successful and your account ready to use
                                        <p>Below are your Account Information and details:</p>
                                         </span>
                                     </span>
                                 </span>
                                 <br>
                             </p>
                             <p style="line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                 <span class="colour" style="color:rgb(64, 64, 64)">
                                     <span class="font" style="font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">


     Welcome to Navy X Credit Union! We are thrilled to have you with us as you embark on your business loan application journey.

     <p><strong>Application Summary:</strong></p><hr>
     <p><strong>Loan Type:</strong> <%= @loan.loan_type %></p>
     <p><strong>Business Name:</strong><%= @loan.business_name %></p>
    <p><strong>Loan Amount Requested:</strong>  <%= @loan.amount %></p>

    <hr>
    <br>
     <p><strong>Loan Description: </strong><%= @loan.desc %></p>
     <p><strong>Application Date:</strong><%= @loan.date %></p>
     <p><strong>Applicant Name:</strong><%= @loan.first_name %> <%= @loan.last_name %></p>
     <p><strong>Email Address:</strong> <%= @loan.email %></p>
     <p><strong>Business Address:</strong> <%= @loan.business_address %></p>
     <p><strong>Business Type:</strong><%= @loan.buisness_type %></p> 





                                     </span>
                                 </span>
                                 <br>
                             </p>
                             <p style="line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                 <span class="colour" style="color:rgb(64, 64, 64)">
                                     <span class="font" style="font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
                                         <span class="size" style="font-size: 14px; line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                           Next Steps:
                                           Document Submission: Ensure all required documents are uploaded to your account dashboard. This includes business plans, financial statements, and any additional documentation specified in the application form.

                                           Verification: Our team will review your submitted documents and verify the information provided. You may be contacted for additional information or clarification.

                                           Loan Processing: Once verification is complete, your loan application will move forward to the processing stage, where our loan officers will assess your application in detail.

                                           Approval and Disbursement: If approved, you will receive a confirmation email along with the loan agreement. Funds will be disbursed promptly upon agreement.
                                     </span>
                                 </span>
                                 <br>
                             </p>
                             <p style="line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                 <span class="colour" style="color:rgb(64, 64, 64)">
                                     <span class="font" style="font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
                                         <span class="size" style="font-size: 14px; line-height: 22px; text-align: left; margin-top: 0px; margin-bottom: 25px;">
                                           Support and Assistance:
                                           Our dedicated support team is here to assist you throughout the entire process. If you have any questions or need help at any stage, please do not hesitate to reach out to us at
                                           support@navyscredit.com or call us at +1 (646)-6311-850.

                                           Thank you for choosing Navy X Credit Union. We are committed to supporting your business growth and success.

                                           Best Regards,
                                           The Navy X Credit Union Team
                                           www.navyscredit.com
                                           +1 (646)-6311-850.
                                         </span>
                                 </span>
                                 <br>
                             </p>
                             <p class="x_79997689align-center" style="line-height: 22px; text-align: center; margin-top: 0px; margin-bottom: 25px;">
                                 <span class="colour" style="color:rgb(64, 64, 64)">
                                     <span class="font" style="font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
                                         <span class="size" style="font-size: 14px; line-height: 22px; text-align: center; margin-top: 0px; margin-bottom: 25px;">
                                           <%= link_to "Login", new_user_session_url, style: "font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(0, 123, 200); font-size: 14px; display: inline-block; min-height: auto; border-radius: 3px; font-weight: 700; text-align: center; border-color: rgb(0, 123, 200); border-style: solid; border-width: 10px 18px" %>
                                             </span>
                                     </span>
                                 </span>
                                 <br>
                             </p>

                         </td>
                     </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<tr><td height="28"></td></tr>
</tbody></table>
</td>
</tr>
