<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
          <div class="card text-white card-dark">
              <div class="card-body">
                  <blockquote class="card-bodyquote mb-0">
                      <p> You can make paying bills easier and well accounted for </p>
                      <footer class="blockquote-footer text-white font-14">
                        Hello  <%= current_user.first_name %>
                      </footer>
                  </blockquote>
              </div><!--end card-body-->
          </div><!--end card-->
          <br>
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Account</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Bills</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Account</h4>
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0">Bills Records</h4>
                    <div class="">
                        <div id="ana_dash_1" class="apex-charts"></div>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->

    </div>
    </div>
    <div class="row justify-content-center">
      <% if Bill.where(user_id: current_user.id).exists? %>

    <% @bills.each do |a| %>


    <!--end row-->
        <div class="col-lg-4">
            <div class="card report-card">
                <div class="card-body">
                  <div class="float-right"><i class="dripicons-user-group report-main-icon"></i></div>
                  <span class="badge badge-success">Bills </span>
                        <div class="row">
                            <div class="col-8 align-self-center">
                                <h5 class="">Bills Records</h5>

                            </div>
                            <!--end col-->
                            <div class="col-4">  <h4><%= Bill.where(user_id: current_user.id).count %>
.</h4></div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    <!--end icon-contain-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <% end %>
        <% else %>
        <div class="col-lg-4">
            <div class="card report-card">
                <div class="card-body">
                  <div class="float-right"><i class="dripicons-user-group report-main-icon"></i></div>
                  <span class="badge badge-success">Bills</span>
                        <div class="row">
                            <div class="col-6 align-self-center">
                                <h5 class="">Bills History </h5>

                            </div>
                            <!--end col-->
                            <div class="col-6">  <h4>  no data
.</h4></div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    <!--end icon-contain-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <% end %>
        <% @accounts.take(1).each do |a| %>

        <div class="col-lg-4">
            <div class="card report-card">
                <div class="card-body">
                    <div class="float-right"><i class="dripicons-meter report-main-icon"></i></div>
                    <span class="badge badge-warning">Overview</span>
                        <div class="row">
                            <div class="col-12 align-self-center">
                                <h5 class="">Account Number: <%= a.account_number %></h5>
                                <p class="text-muted mb-0">Routine Number: <%= a.routine_number %>
                                  <i class="mdi mdi-menu-up text-success font-16"></i></p>
                            </div>
                            <!--end col-->

                            <!--end col-->
                        </div>
                        <!--end row-->
                    <!--end icon-contain-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <div class="col-lg-4">
            <div class="card report-card">
                <div class="card-body">
                  <div class="float-right">
                    <i class="dripicons-wallet report-main-icon"></i>
                  </div><span class="badge badge-success">Balance</span>

                        <div class="row">
                            <div class="col-6 align-self-center">
                                <h5 class="">Balance</h5>
                                <p class="text-muted mb-0">Book Balance: $<%=a.lbalance %>
                                  <i class="mdi mdi-menu-up text-success font-16"></i></p>
                            </div>
                            <!--end col-->
                            <div class="col-6">
                          <h4>    $ <%= a.balance %></h4>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    <!--end icon-contain-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>


        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <% end %>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= link_to new_bill_path, class: "btn btn-primary px-4 float-right mt-0 mb-3" do %>

            <<i class="mdi mdi-plus-circle-outline mr-2"></i>Record Bill Payments <% end %>
            <h4
            class="header-title mt-0">Recent Transactions</h4>
            <div class="table-responsive dash-social">
              <table id="datatable" class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Service</th>
                    <th>Amount</th>
                    <th> Due Date</th>
                    <th>Status</th>

                  </tr>
                  <!--end tr-->
                </thead>
                <tbody>
                  <% if Bill.where(user_id: current_user.id).exists? %>
                  <% @bills.each do |t| %>
                  <tr>
                    <td><%= t.name %></td>
                    <td><%= t.service %></td>
                    <td><%= t.amount %></td>
                    <td><%= t.date.to_datetime.strftime('%b %d %Y %I:%M%p')  %></td>
                    <td><% if t.status? %> <%= link_to "#", class: "btn btn-success" do %> Payment Succesfull <% end %><% else %><%= link_to "#", class: "btn btn-danger" do %> Pending <% end %> <% end %></td>

                  </tr>
                  <% end %>
                  <% else %>
                  <!--end tr-->
                  <tr>
                    <td>.</td>
                    <td>No Data</td>
                  </tr>
                  <% end %>

                </tbody>
              </table>
            </div>
          </div>
          <!--end card-body-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->
    </div>

</div>
