<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @account.country %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @account.zip_code %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @account.ssn %>
</p>

<p>
  <strong>Mmn:</strong>
  <%= @account.mmn %>
</p>

<p>
  <strong>Account pin:</strong>
  <%= @account.account_pin %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Routine number:</strong>
  <%= @account.routine_number %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @account.dob %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @account.slug %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Occupation address:</strong>
  <%= @account.occupation_address %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
